* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 99vw;
    height: 100vh;
    overflow: hidden;
}

.bg-video-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 99vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: -1;
    overflow: hidden;
}

.backround-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
}


.content-container {
    height: 100%;
    position: relative;
    background-color: rgba(240, 248, 255, 0.312);
    z-index: 1;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    .content-container {
        overflow-y: auto;
        padding: 10px;
    }
}
.your-city-weather {
    margin: 2px;
    width: 800px;
    height: 54%;
    border: 1px solid black;
    background-color: rgba(173, 216, 230, 0.5);
    padding: 10px;
}

.hourly-forecast {
    width: 99%;
    height: 80px;
    border: 1px solid black;
    background-color: rgba(173, 216, 230, 0.5);
    padding: 10px;
    flex-basis: 100%;
}
.forecast-3{
    width:510px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin: 1px;
    align-content:baseline;
}

.today{
    flex-grow:1;
    height: 170px;
    width:47%;
    border: 1px solid green;
    background-color: rgba(144, 238, 144, 0.5);  
    padding: 10px;
}

.tomorrow {
    flex-grow:1;
    height: 170px;
    width:48%;
    border: 1px solid green;
    background-color: rgba(144, 238, 144, 0.5);  
    padding: 10px;
}

.forecast {
    border: 1px solid blue;
    background-color: rgba(135, 206, 250, 0.5);
      padding: 10px;
}

.past-forecast {
    border: 1px solid red;
    background-color: rgba(255, 182, 193, 0.5);
    width: 100%;
    height: 90px;
    flex-basis: 100%;
}

.find-your-city {
    border: 1px solid orange;
    background-color: rgba(255, 165, 0, 0.5); 
    padding: 10px;
    margin: 1px;
}
